@page
@model TheKangaroos_ClubEnrolmentPortal.Pages.Memberships.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Membership</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Membership.Id" />
            <div class="form-group">
                <label asp-for="Membership.UserId" class="control-label"></label>
                <select asp-for="Membership.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="Membership.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membership.ClubId" class="control-label"></label>
                <select asp-for="Membership.ClubId" class="form-control" asp-items="ViewBag.ClubId"></select>
                <span asp-validation-for="Membership.ClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
