@inherits LayoutComponentBase
@inject NavigationManager NavManager

<AuthorizeView>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4 auth">
                    <LoginDisplay />
                </div>

                <div class="content p-4">
                    @Body
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
       <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>



@code {

    private void MethodToTriggerUrl()
    {
        NavManager.NavigateTo("/landing");
    }
}
