@page "/club/register"
@page "/club/edit/{id}"
@using TheKangaroos_ClubEnrolmentPortal.Data.Models
@using TheKangaroos_ClubEnrolmentPortal.Data.Services
@inject NavigationManager MyNavigationManager
@inherits OwningComponentBase<ClubService>
@inject MembershipService MembershipService
@inject NavigationManager NavManager
@using System.Security.Claims



@if (MyNavigationManager.Uri.Contains("register"))
{
    <h3 class="text-center font-weight-bold text-secondary">Register a New Club</h3>
}
else
{
    <h3 class="text-center font-weight-bold text-secondary">Edit Club</h3>
}

<div class="row justify-content-center mt-5">
    <div class="col-12 col-lg-6">
        <div class="card p-4">
            <EditForm Model="@newclub" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="Name" class="control-label text-secondary font-weight-bold">Club Name</label>
                    <InputText id="Name" class="form-control" @bind-Value="newclub.Name" />
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label text-secondary font-weight-bold">Club
                        Description</label>
                    <InputTextArea id="Description" class="form-control" @bind-Value="newclub.Description" />
                </div>
                <div class="form-group">
                    <label for="Image" class="control-label text-secondary font-weight-bold">Club
                        Image</label>
                    @*<InputFile type="file" @bind-Value="newclub.Image" class="form-control-file" />*@
                    <InputText @bind-Value="newclub.Image" class="form-control" />

                </div>
                <div class="form-group text-center">
                    <input type="submit" value="Register" class="btn btn-primary" />
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }
    private Club newclub = new();

    private string userId { get; set; }

    private void AdminMembership(Club c)
    {
        Membership membership = new Membership
        {
            UserId = userId,
            ClubId = c.Id,
        };
        Membership m = MembershipService.PostMembershipAsync(membership);
        MembershipService.MakeAdmin(userId,m);
    }

    private void HandleValidSubmit()
    {
        Console.WriteLine("Valid");
        Club club = new Club{
            Name = newclub.Name,
            Description = newclub.Description,
            Image = newclub.Image
        };
        if (MyNavigationManager.Uri.Contains("register"))
        {
            Club c = Service.PostClubAsync(club);
            AdminMembership(c);
            NavManager.NavigateTo("/clubList", true);
        }
        else
        {
            NavManager.NavigateTo("/clubDetail/{id}", true);
        }

    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        userId = authState.User.FindFirst(ClaimTypes.NameIdentifier).Value;
    }

    [Parameter]
    public string id { get; set; }
}