@page
@model TheKangaroos_ClubEnrolmentPortal.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>user</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="user.Id" />
            <div class="form-group">
                <label asp-for="user.FirstName" class="control-label"></label>
                <input asp-for="user.FirstName" class="form-control" />
                <span asp-validation-for="user.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.LastName" class="control-label"></label>
                <input asp-for="user.LastName" class="form-control" />
                <span asp-validation-for="user.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.ProfilePicture" class="control-label"></label>
                <input asp-for="user.ProfilePicture" class="form-control" />
                <span asp-validation-for="user.ProfilePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.DateOfBirth" class="control-label"></label>
                <input asp-for="user.DateOfBirth" class="form-control" />
                <span asp-validation-for="user.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="user.Gender" class="control-label"></label>
                <input asp-for="user.Gender" class="form-control" />
                <span asp-validation-for="user.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
