@page "/event"

@using TheKangaroos_ClubEnrolmentPortal.Data.Models
@using TheKangaroos_ClubEnrolmentPortal.Data.Controllers
@using TheKangaroos_ClubEnrolmentPortal.Data.Migrations

<h3>Event</h3>

<p> This is the events page, customize as you see fit. </p>
@* <button class="btn btn-primary" @onclick="addOneEvent">Create Event</button> *@

@code {
    @* private void addOneEvent()
    {
        var newOperation = new EventController();
        EventOperations.AddEvent(EventOperations.trialEventData);
    } *@
}