@page "/landing"
@layout GuestLayout

<div class="row h-100 align-items-center m-0">
    <div class="col-sm-12 col-md-12 col-lg-7 pl-5 mt-5 mt-lg-0 pr-0">
        <img src="images/casual-life-3d-meditation-crystal.png" class="landing-bg" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-5 pl-lg-0">
        <h1 class="welcome_text mb-4 mb-lg-5">Club Enrollment Portal</h1>
        <h2 class="welcome_text mb-4 mb-lg-5">Become a club member, make new friends and be part of amazing events. The possibilities are
            endless.</h2>
        <div>
            <a class="btn btn-lg mb-5 fancy-button" href="Identity/Account/Login">Login</a>
        </div>
        <h5 class="mb-3">Are you a club admin? <a class="login_link" href="Identity/Account/Login">Login as Admin</a></h5>
        <h5>Not a member? <a class="register_link" href="Identity/Account/Register">Register</a></h5>
    </div>
</div>